<div class="flex bg-gray-900">
  <div>
    <app-aside></app-aside>
  </div>
  <div class="static flex-1 bg-gray-900 w-screen h-screen ml-0 sm:ml-52">
    <div>
      <p class="hello text-white text-2xl">👋 Hello, My Name is</p>
      <p id="name" class="text-white text-7xl">Jayvee S. Empleo</p>
      <p class="hello text-white text-2xl">
        I design and develop services for customers of all sizes, specializing
        in creating stylish, modern websites, web applications.
      </p>
    </div>
    <div>
      <img src="" alt="" />
    </div>
  </div>
</div>
