#myElement {
    display: inline-block;
    overflow: hidden; /* Ensure text doesn't overflow its container */
}

#myElement span {
    display: inline-block;
    opacity: 0; /* Initially hide each character */
    animation: fadeIn 0.5s linear forwards; /* Use CSS animation to fade in each character */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mainDashboard {
    background-image: url("../../assets/images/top_right_circle_orange.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: right;
    transition: 1s;
}
.mainDashboard:hover {
    background-size: 105%;
}

@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
::ng-deep {
    mat-icon {
        color: rgb(249 115 22 / var(--tw-text-opacity)) !important;
    }
}
#name {
    font-family: "Protest Strike", sans-serif;
}
.iconImages {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
.iconImages a img {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    padding: 5px;
    background-color: #ff9900;
}
.iconImages a:nth-child(1) {
    margin-top: -45px;
}
.iconImages a:nth-child(2) {
    margin-top: -28px;
}
.iconImages a:nth-child(3) {
    margin-top: -22px;
}
.iconImages a:nth-child(4) {
    margin-top: -28px;
}
.iconImages a:last-child {
    margin-top: -45px;
}
.biographyTitle {
    background-image: url("../../assets/images/top_right_circle_orange.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: auto;
    padding: 8px;
    border-radius: 10px;
}
.biographyTitle:hover {
    background-size: 50%;
}
.infoBio ul {
    width: 50%;
    color: white;
    font-size: larger;
}
.infoBio ul li span {
    margin-left: 20px;
    color: #ff9900;
}
.biography {
    display: flex;
    justify-content: center;
    align-items: center;
}
