<!-- <button
  data-drawer-target="default-sidebar"
  data-drawer-toggle="default-sidebar"
  aria-controls="default-sidebar"
  type="button"
  class="inline-flex items-center bg-gray-900 p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
>
  <span class="sr-only">Open sidebar</span>
  <mat-icon>sort</mat-icon>
</button> -->

<aside
    id="default-sidebar"
    class="fixed top-0 left-0 z-40 w-52 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar"
>
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-800">
        <ul class="font-medium">
            <h4 class="text-gray-600">LINKS</h4>
            <li>
                <a
                    href="#"
                    class="flex items-center p-1 font-bold text-white rounded-lg hover:text-black hover:bg-gray-100 group"
                >
                    <mat-icon>home</mat-icon>
                    <span class="ms-3">Home</span>
                </a>
            </li>
            <li>
                <a
                    href="#"
                    class="flex items-center p-1 font-bold text-white rounded-lg hover:text-black hover:bg-gray-100 group"
                >
                    <mat-icon>home</mat-icon>
                    <span class="ms-3">Home</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
